body {
  background-color:#FFFFFF;
  color: #454545;
  font-family: normal 12px 'Roboto Slab', serif ;
}

p {color: (RGB 178, 186, 187, 0.5);
          font-size: 12px;
}
.container-1{
  width: 90%;
  margin: 0px auto;
  position: relative;

}

header {
  background-color: #454545;
  color: #D35400;
  text-align: left;
  margin: 0px;
  padding: 60px 0px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

nav{
  float: right;
}
nav a {
  text-decoration: none;
  color: #D35400;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left:70px;
}



.container {
  width: 25%;
  margin:auto;
}

form.Registeration-Form {
  display: none;
}
.box-1 {
  background-color: #FFFFFF;
  color: #454545;
  font-size: 12px;
  margin: 50px 0px;
  padding: 50px;
  border-radius: 5px;
  text-align: left;
}


.box-1 a {
  color: (RGB 178, 186, 187, 0.5);
            font-size: 12px;
}

.box-2 {
  background-color: #FFFFFF;
  border-style: groove;
  border-color: #CCD1D1  ;
  border-radius: 5px;
  height: 25px;
  color: #454545;
}

.checkbox {
  font-size: 10px;
}

.button-1 {
  width: 100px;
	height: 25px;
	background-color: #060606;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 10px;
	color: #FFF;
  display: inline-block;
	font-family: 16px "Lucida Sans Unicode", "Lucida Grande" sans-serif;
	font-weight: 400;
	padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

}



.RegisterationForm{
  display: none;
}

.container-2{
  width: 100%;
  margin: auto;
}

.QuestionDisplay {
  width: 50%;
  float: left;
  height: 500px;

  text-decoration: none;
}
.RecentQuestions {
  width: 50%;
  float: right;
  height: 200px;
  text-decoration: none;
  text-align: center;
}
.RecentQuestions li {
  list-style-type: none;
  line-height: 50px;
  color: #008080;
}
.RecentQuestions h1 {
  background-color: #454545;
  color: white;
}
.question {
  font-weight: bold;
  font-size: 16px;
}
.answer{
  font-size:  16px;
  font-weight: normal;
}
.postAnswer{
  width: 600px;
  height: 100px;
}
.link-1{
  text-decoration-color: black
  color: #454545;
  font-size: 14px;
}
a:link{
  color: #454545;

}
.button-2{
  width: 400px;
	height: 25px;
	background-color: #060606;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 10px;
	color: #FFF;
  display: inline-block;
	font-family: 16px "Lucida Sans Unicode", "Lucida Grande" sans-serif;
	font-weight: 400;
	padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}


/**....................... Footer......................... **/
footer {
  background-color: #454545;
  color: #D35400;
  text-align: center;
  font-size:12px;
  position:fixed;
  bottom:0;
  height: 5px;
  margin: 0px;
  padding: 30px 0px;
}
